.container{
	position: relative;
	height: 550px;
}
.center{
	position: absolute;
	top: 45%;
	left: 7%;
	color: white;
}
img{
	height: 100%;
	width: 100%;
	opacity: 1;
	border: 0;
}
.result{
	position: absolute;
	top: 50%;
	left: 40%;
	color: orange;
}